// 左侧菜单宽度
$base-menu-width: 280px;

// 左侧菜单宽度
$base-menu-min-width: 60px;

// 左侧菜单背景颜色
$base-menu-background: rgb(0, 20, 44);

// 顶部导航的高度
$base-tabbar-height: 60px;

// 左侧菜单LOGO高度
$base-menu-logo-height:50px;

// 左侧菜单LOGO文字大小
$base-logo-title-fontSize:20px;

// 顶部导航高度
$base-header-height:80px;

// 底部导航高度
$base-footer-height:100px;